<h1>This is my app</h1>

<!-- 1-var-output -->
<!-- <app-student></app-student> -->

<!-- 2-todo-list -->
<!-- <app-manage-task></app-manage-task> -->

<!-- 3-driective -->
<!-- <app-toggle></app-toggle> -->
<!-- <app-loop-color></app-loop-color> -->
<!-- <app-timer-clock></app-timer-clock> -->

<!-- 4-custom-directive -->
<!-- <app-toggle-custom></app-toggle-custom> -->
<!-- <app-toggle-input></app-toggle-input> -->
<!-- <app-loop-custom-color></app-loop-custom-color> -->
<!-- <app-timer-custom-clock></app-timer-custom-clock> -->